.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #000000bf;
  visibility: hidden;
}

.conteudo-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  border-radius: 5px;
  gap: 15px;
}

.fechar-modal {
  background-color: #ED1B24;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  width: 40px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid white;
}

.modal iframe {
  border-width: 0;
  width: 640px;
  height: 360px;
}

.modal.aberto {
  visibility: visible;
}