.page {
  display: none;
}

.page.active {
  display: flex;
}

#pagination ul{
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 40px 0 20px 0;
  gap:25px;
}

#pagination ul li a{
  color: white;
  text-decoration: none;
  font-size: 20px;
}

#pagination ul li a:hover{
  color: #ED1B24;
}

#pagination li a.active {
  color: #ED1B24;
}